---
import About from '../components/Aboutsection.astro';
import Features from '../components/Features.astro';
import Hero from '../components/Hero.astro';
import Testimonials from '../components/Testimonials.astro';
import Layout from '../layouts/Layout.astro';
import Pricing from '../components/Pricingsection.astro';
import Faq from '../components/Faq.astro';
import Team from '../components/Team.astro';
import Contact from '../components/Contactsection.astro';
import CTA from '../components/CTAsection.astro';
import Blogsection from '../components/Blogsection.astro';
---

<Layout
  description="Empowering small businesses to succeed through innovative software, development, design, and marketing solutions | Tar Heel Dev Studio"
  title="Tar Heel Dev Studio | Software Development, Design, and Marketing"
>
  <button class="bg-red-500 text-xl" id="error-button">Throw test error</button>
<script>
  function handleClick () {
    throw new Error('This is a test error');
  }
  document.querySelector("#error-button").addEventListener("click", handleClick);
</script>
  <Hero />
  <Features />
  <About />
  <CTA />
  <Pricing />
  <Testimonials />
  <Faq />
  <Team />
  <Blogsection />
  <Contact />
</Layout>
