---
import Layout from "../layouts/Layout.astro";
import Breadcrumb from "../components/layout/Breadcrumb.astro";
---

<Layout
  description="Check out our Privacy Policy applies to all users who visit this site. | Tar Heel Dev Studio."
  title="Privacy Policy | Tar Heel Dev Studio"
>
  <Breadcrumb class="bg-primary dark:bg-dark-2">
    <Fragment slot="title">Privacy Policy for Tar Heel Dev Studio</Fragment>
  </Breadcrumb>
  <section
  id="home"
  class="relative overflow-hidden bg-dark dark:bg-dark-2 pt-[120px] md:pt-[130px] lg:pt-[160px]"
>
  <div class="container">
    <div class="-mx-4 flex flex-wrap items-center">
      <div class="w-full px-4">
          <h3
            class="mb-6 text-2xl font-bold leading-snug text-white sm:text-4xl sm:leading-snug lg:text-5xl lg:leading-[1.2]"
          >
            Introduction
          </h3>
            <p class="mb-6 text-md text-slate-50">At Tar Heel Dev Studio, we are committed to protecting the privacy and security of our users' personal information. This Privacy Policy describes how we collect, store, use, and distribute information about our users through our website, services, and digital products.</p>
                <h3
                class="mb-6 text-2xl font-bold leading-snug text-white sm:text-4xl sm:leading-snug lg:text-5xl lg:leading-[1.2]"
              >
              Scope of This Policy
              </h3>
                <p class="mb-6 text-md text-slate-50">This Privacy Policy applies to all users of our website, services, and digital products. By using our services or purchasing our digital products, you consent to the collection, use, and disclosure of your personal information as described in this policy.</p>

                <h2 class="mb-6 text-3xl font-bold leading-snug text-white sm:text-4xl sm:leading-snug lg:text-5xl lg:leading-[1.2]">
                    Collection of Personal Information
                </h2>
                    <h3 class="mb-6 text-2xl font-bold leading-snug text-white sm:text-4xl sm:leading-snug lg:text-5xl lg:leading-[1.2]">
                      Registration Data
                    </h3>
                        <p class="mb-6 text-md text-slate-50">
                            When you register for an account with Tar Heel Dev Studio, you are required to provide certain personal information, including:
                        </p>
                        <ul>
                            <li class="mb-6 text-md text-slate-50 list-disc">Full legal name</li>
                            <li class="mb-6 text-md text-slate-50 list-disc">Email addres</li>
                            <li class="mb-6 text-md text-slate-50 list-disc">Optional: Location and phone number</li>
                        </ul>
                        <p class="mb-6 text-md text-slate-50">For paid services and digital products, you will also be required to provide billing information.</p>
                    <h3
                    class="mb-6 text-2xl font-bold leading-snug text-white sm:text-4xl sm:leading-snug lg:text-5xl lg:leading-[1.2]"
                    >
                    Usage Data
                    </h3>
                        <p class="mb-6 text-md text-slate-50">We may collect data on how you use our services and digital products, including but not limited to:</p>
                        <ul>
                            <li class="mb-6 text-md text-slate-50 list-disc">IP address</li>
                            <li class="mb-6 text-md text-slate-50 list-disc">Browser type and version</li>
                            <li class="mb-6 text-md text-slate-50 list-disc">Operating system</li>
                            <li class="mb-6 text-md text-slate-50 list-disc">Pages visited on our website</li>
                            <li class="mb-6 text-md text-slate-50 list-disc">Interaction with our services and digital products</li>
                        </ul>
                    <h3 class="mb-6 text-2xl font-bold text-white">Other Information</h3>
                        <p class="mb-6 text-md text-slate-50">We may also collect other information that you voluntarily provide, such as feedback, inquiries, or content created using our services.</p>
                    <h3 class="mb-6 text-2xl font-bold text-white">Use of Personal Information</h3>
                        <p class="mb-6 text-md text-slate-50">We use the collected personal information for the following purposes:</p>
                        <ul>
                            <li class="mb-6 text-md text-slate-50 list-disc"><span class="font-semibold">Account Administration:</span> To administer your account, personalize your experience on our website and services, and for billing, verification, and authentication purposes.</li>
                            <li class="mb-6 text-md text-slate-50 list-disc"><span class="font-semibold">Service Provision:</span> To provide and improve our services and digital products.</li>
                            <li class="mb-6 text-md text-slate-50 list-disc"><span class="font-semibold">Customer Service:</span> To respond to your inquiries and provide feedback.</li>
                            <li class="mb-6 text-md text-slate-50 list-disc"><span class="font-semibold">Marketing and Communication:</span> To inform you about updates, new services, and special offers.</li>
                            <li class="mb-6 text-md text-slate-50 list-disc"><span class="font-semibold">Compliance with Laws:</span> To comply with applicable laws and regulations.</li>
                        </ul>
                    <h3 class="mb-6 text-2xl font-bold text-white">Sharing of Personal Information</h3>
                        <p class="mb-6 text-md text-slate-50">We may disclose your personal information to trusted third parties who aid us in conducting our business, including but not limited to:</p>
                        <p class="mb-6 text-md text-slate-50"><span class="font-semibold">Service Providers:</span> Website hosting, cloud service providers, analytics providers, email marketing providers, and payment processors.</p>
                        <p class="mb-6 text-md text-slate-50"><span class="font-semibold">Partners:</span> If you use our services in conjunction with other businesses or platforms, your information may be shared with these partners to the extent necessary for the provision of those services.</p>
                        <p class="mb-6 text-md text-slate-50">Your personal information may be available to governments worldwide under lawful orders, irrespective of the safeguards we have in place.</p>
                    <h3 class="mb-6 text-2xl font-bold text-white">Security of Personal Information</h3>
                        <p class="mb-6 text-md text-slate-50">The security of your personal information is important to us. We use commercially reasonable efforts to store and maintain your personal information in a secure environment. This includes:</p>
                        <ul>
                            <li class="mb-6 text-md text-slate-50 list-disc"><span class="font-semibold">Technical Security:</span> Implementing encryption and other technical measures to protect data.</li>
                            <li class="mb-6 text-md text-slate-50 list-disc"><span class="font-semibold">Contractual Security:</span> Ensuring our service providers and partners adhere to strict confidentiality and security standards.</li>
                            <li class="mb-6 text-md text-slate-50 list-disc"><span class="font-semibold">Administrative and Physical Security:</span> Limiting access to your personal information to only those staff members who reasonably need it to carry out their duties.</li>
                        </ul>
                        <p class="mb-6 text-md text-slate-50">You are also responsible for helping to protect the security of your personal information by never giving out your email account information or password to third parties.</p>
                    <h3 class="mb-6 text-2xl font-bold text-white">User Rights</h3>
                        <p class="mb-6 text-md text-slate-50"><span class="font-semibold">You have the right to:</span></p>
                        <ul>
                            <li class="mb-6 text-md text-slate-50 list-disc"><span class="font-semibold">Access Your Information:</span> Request access to the personal information we hold about you to verify its accuracy.</li>
                            <li class="mb-6 text-md text-slate-50 list-disc"><span class="font-semibold">Update Your Information:</span> Update any inaccuracies in your personal information.</li>
                            <li class="mb-6 text-md text-slate-50 list-disc"><span class="font-semibold">Withdraw Consent:</span> Withdraw your consent to our processing of your personal information at any time. However, withdrawing consent may result in your inability to continue using our services and digital products.</li>
                            <li class="mb-6 text-md text-slate-50 list-disc"><span class="font-semibold">Data Portability:</span> Request a copy of your personal information in a machine-readable format.</li>
                       </ul>
                    <h3 class="mb-6 text-2xl font-bold text-white">Data Retention</h3>
                        <p class="mb-6 text-md text-slate-50">We retain your personal information for as long as necessary to fulfill the purposes outlined in this Privacy Policy, unless a longer retention period is required or permitted by law. Once the retention period expires, we will delete or anonymize your personal information.</p>
                    <h3 class="mb-6 text-2xl font-bold text-white">Compliance with Laws</h3>
                        <p class="mb-6 text-md text-slate-50">We comply with all applicable privacy and data protection laws, including but not limited to the General Data Protection Regulation (GDPR) where applicable. We inform our users about how we collect, store, and use their personal information and provide them with the necessary rights and controls.</p>
                    <h3 class="mb-6 text-2xl font-bold text-white">Children's Privacy</h3>
                        <p class="mb-6 text-md text-slate-50">We do not knowingly collect or solicit personally identifiable information from minors under the age of 16. If we learn that we have collected personal information from a child under 16, we will delete that information as quickly as possible. If you believe that a child under 16 may have provided us with personal information, please contact us at <a href="mailto:andrew@geauxweisbeck4.dev">andrew@geauxweisbeck4.dev</a>.</p>
                        <p class="mb-6 text-md text-slate-50"><span class="font-semibold">Email:</span> <a href="mailto:andrew@geauxweisbeck4.dev" class="text-slate-100 hover:text-emerald-300 hover:underline"> andrew@geauxweisbeck4.dev</a></p>

                    <h3 class="mb-6 text-2xl font-bold text-white">Changes to This Policy</h3>
                        <p class="mb-6 text-md text-slate-50">We reserve the right to modify this Privacy Policy at any time. Changes will be effective immediately upon posting on our website. It is your responsibility to review the updated terms and conditions.</p>
                    <h3 class="mb-6 text-2xl font-bold text-white">Contact Information</h3>
                        <p class="mb-6 text-md text-slate-50">For any inquiries or concerns regarding this Privacy Policy, please contact us at:</p>
                        <ul>
                            <li class="mb-6 text-md text-slate-50 list-disc"><span class="font-semibold">Email:</span> <a href="mailto:andrew@geauxweisbeck4.dev">andrew@geauxweisbeck4.dev</a></li>
                            <li class="mb-6 text-md text-slate-50 list-disc"><span class="font-semibold">Email:</span> <a href="tel:919-638-6663">919-638-6663</a></li>
                            <li class="mb-6 text-md text-slate-50 list-disc"><span class="font-semibold">Address:</span>2107 Stonehenge Dr. Raleigh, NC 27615</li>
                        </ul>
                    <h3 class="mb-6 text-2xl font-bold text-white">Governing Law</h3>
                        <p class="mb-6 text-md text-slate-50">This Privacy Policy is governed by and construed in accordance with the laws of North Carolina/United States. Any disputes arising from this policy will be resolved through the courts of North Carolina/United States.</p>
                        <p class="mb-6 text-md text-slate-50">By using our services, purchasing our digital products, or subscribing to our monthly services, you acknowledge that you have read, understood, and agree to be bound by this Privacy Policy.</p>
                </div>
            </div>
        </div>
    </section>











