---
import Layout from "../layouts/Layout.astro";
import Breadcrumb from "../components/layout/Breadcrumb.astro";
---

<Layout
  description="Terms and Conditions you adhere to by visitng our site. | Tar Heel Dev Studio."
  title="Terms and Conditions | Tar Heel Dev Studio"
>
  <Breadcrumb class="bg-primary dark:bg-dark-2">
    <Fragment slot="title">Terms and Conditions for Tar Heel Dev Studio</Fragment>
  </Breadcrumb>
  <section
  id="home"
  class="relative overflow-hidden bg-dark dark:bg-dark-2 pt-[120px] md:pt-[130px] lg:pt-[160px]"
>
  <div class="container">
    <div class="-mx-4 flex flex-wrap items-center">
      <div class="w-full px-4">
          <h3
            class="mb-6 text-2xl font-bold leading-snug text-white sm:text-4xl sm:leading-snug lg:text-5xl lg:leading-[1.2]"
          >
            Introduction
          </h3>
            <p class="mb-6 text-md text-slate-50">These Terms and Conditions are governed by and construed in accordance with the laws of [Your State/Country]. Any disputes arising from these terms will be resolved through the courts of [Your State/Country].
                Services and Digital Products</p>
                <h3
                class="mb-6 text-2xl font-bold leading-snug text-white sm:text-4xl sm:leading-snug lg:text-5xl lg:leading-[1.2]"
              >
                Description of Services and Products
                </h3>
                    <p class="mb-6 text-md text-slate-50"><span class="font-semibold">Software Development:</span>span We provide custom software development services tailored to meet the specific needs of our clients.</p>
                    <p class="mb-6 text-md text-slate-50"><span class="font-semibold">Design Services:</span> Our design services include web design, graphic design, and other visual communication solutions.</p>
                    <p class="mb-6 text-md text-slate-50"><span class="font-semibold">Marketing Services:</span> We offer various marketing services such as social media marketing, SEO, and content creation.</p>
                    <p class="mb-6 text-md text-slate-50"><span class="font-semibold">Digital Products:</span> We sell digital products, including but not limited to, downloadable software, templates, and educational materials.</p>
                    <p class="mb-6 text-md text-slate-50"><span class="font-semibold">Monthly Subscriptions:</span> We offer monthly subscription services for ongoing support, maintenance, and access to exclusive digital products.</p>
                <h3
                class="mb-6 text-2xl font-bold leading-snug text-white sm:text-4xl sm:leading-snug lg:text-5xl lg:leading-[1.2]"
              >
                Licensing
                </h3>
                    <p class="mb-6 text-md text-slate-50"><span class="font-semibold">Software and Digital Products:</span> When you purchase our digital products or subscribe to our services, you are granted a non-transferable, non-sublicensable, non-exclusive license to use the products. You do not own the products; you are only licensed to use them according to the terms specified here.</p>
                    <h3
                    class="mb-6 text-2xl font-bold leading-snug text-white sm:text-4xl sm:leading-snug lg:text-5xl lg:leading-[1.2]"
                    >
                        Usage Restrictions
                    </h3>
                        <p class="mb-6 text-md text-slate-50"><span class="font-semibold">Personal and Business Use:</span> You may use our digital products for personal and business use, but you are not permitted to redistribute, resell, or reproduce the products for commercial purposes without our explicit permission.</p>
                        <p class="mb-6 text-md text-slate-50"><span class="font-semibold">Prohibited Activities:</span> You agree not to copy, reproduce, alter, modify, create derivative works, or publicly display any content from our digital products except for your own personal, non-commercial use. You may not use our products to harass or cause harm to other users or to share explicit, offensive, or inappropriate content.</p>
                    <h2 class="mb-6 text-3xl font-bold text-white">Payment Terms</h2>
                    <h3 class="mb-6 text-2xl font-bold text-white">Fees and Payment Processing</h3>
                        <p class="mb-6 text-md text-slate-50"><span class="font-semibold">Service Fees:</span> You agree to compensate us the fee indicated for our services and digital products. If any payment method is declined, you must provide a new eligible payment method before receiving access to the services or products.</p>
                        <p class="mb-6 text-md text-slate-50"><span class="font-semibold">Subscription Payments:</span> For monthly subscriptions, payments are due on the date specified in your subscription agreement. Failure to pay may result in the termination of your subscription and access to our services and products.</p>
                    <h3 class="mb-6 text-2xl font-bold text-white">Refund Policy</h3>
                        <p class="mb-6 text-md text-slate-50"><span class="font-semibold">Digital Products:</span> Due to the nature of digital products being immediately accessible upon purchase, no refunds will be allowed under any circumstances.</p>
                        <p class="mb-6 text-md text-slate-50"><span class="font-semibold">Services:</span> Refunds for services will be handled on a case-by-case basis. Please contact our customer service for more information.</p>
                    <h3 class="mb-6 text-2xl font-bold text-white">Intellectual Property Rights</h3>
                        <p class="mb-6 text-md text-slate-50"><span class="font-semibold">Ownership:</span> All intellectual property rights to our services, digital products, and any content provided through our website or services remain with Tar Heel Dev Studio.</p>
                        <p class="mb-6 text-md text-slate-50"><span class="font-semibold">User-Generated Content:</span> If you create content using our products or services, you retain the rights to that content. However, by using our services, you grant us a non-exclusive, royalty-free license to use, modify, and distribute such content for the purpose of providing and improving our services.</p>
                    <h3 class="mb-6 text-2xl font-bold text-white">Disclaimers and Warranties</h3>
                        <p class="mb-6 text-md text-slate-50"><span class="font-semibold">As Is Basis:</span> Our services and digital products are provided on an "as is" and "as available" basis. We disclaim all warranties, express or implied, including but not limited to implied warranties of merchantability, fitness for a particular purpose, and non-infringement.</p>
                        <p class="mb-6 text-md text-slate-50"><span class="font-semibold">Limitation of Liability:</span> We are not responsible for any damages or losses arising from the use of our services or digital products, including but not limited to indirect, incidental, special, or consequential damages.</p>
                    <h3 class="mb-6 text-2xl font-bold text-white">Acceptable Use and Prohibited Activities</h3>
                        <p class="mb-6 text-md text-slate-50"><span class="font-semibold">Compliance:</span> You agree to comply with all applicable laws and regulations when using our services and digital products.</p>
                        <p class="mb-6 text-md text-slate-50"><span class="font-semibold">Prohibited Activities:</span> You are prohibited from engaging in any activity that could be considered harmful, illegal, or unethical. This includes but is not limited to harassing other users, distributing malware, or engaging in any form of spamming.</p>
                    <h3 class="mb-6 text-2xl font-bold text-white">Termination</h3>
                        <p class="mb-6 text-md text-slate-50"><span class="font-semibold">Termination by Us:</span> We reserve the right to terminate your access to our services and digital products at any time, with or without cause, and with or without notice.</p>
                        <p class="mb-6 text-md text-slate-50"><span class="font-semibold">Termination by You:</span> You may terminate your subscription or service agreement at any time, but this will not entitle you to a refund unless specified otherwise in our refund policy.</p>
                        <p class="mb-6 text-md text-slate-50"><span class="font-semibold">Effect of Termination:</span> Upon termination, you will no longer have access to our services and digital products. Any outstanding payments will still be due, and all provisions of these Terms and Conditions that by their nature should survive termination will survive.</p>
                    <h3 class="mb-6 text-2xl font-bold text-white">Updates and Changes</h3>
                        <p class="mb-6 text-md text-slate-50"><span class="font-semibold">Changes to Terms:</span> We reserve the right to modify these Terms and Conditions at any time. Changes will be effective immediately upon posting on our website.</p>
                        <p class="mb-6 text-md text-slate-50"><span class="font-semibold">Updates to Products:</span> We may update our digital products from time to time. You will be notified of any significant changes, and it is your responsibility to review the updated terms and conditions.</p>
                    <h3 class="mb-6 text-2xl font-bold text-white">Contact Information</h3>
                        <p class="mb-6 text-md text-slate-50">For any inquiries or concerns regarding these Terms and Conditions, please contact us at:</p>
                        <p class="mb-6 text-md text-slate-50"><span class="font-semibold">Email:</span> <a href="mailto:andrew@geauxweisbeck4.dev" class="text-slate-100 hover:text-emerald-300 hover:underline"> andrew@geauxweisbeck4.dev</a></p>
                        <p class="mb-6 text-md text-slate-50"><span class="font-semibold">Phone:</span> <a href="tel:919-638-6663" class="text-slate-100 hover:text-emerald-300 hover:underline"> 919-638-6663</a></p>
                        <p class="mb-6 text-md text-slate-50"><span class="font-semibold">Address:</span> 2107 Stonehenge Dr. Raleigh, NC 27615</p>
                    <h3 class="mb-6 text-2xl font-bold text-white">Entire Agreement</h3>
                        <p class="mb-6 text-md text-slate-50">These Terms and Conditions constitute the entire agreement between you and Tar Heel Dev Studio and supersede all prior or contemporaneous agreements or understandings, whether written or oral.</p>
                    <h3 class="mb-6 text-2xl font-bold text-white">Venue and Jurisdiction</h3>
                        <p class="mb-6 text-md text-slate-50">Any disputes arising from these Terms and Conditions will be governed by and construed in accordance with the laws of North Carolina, USA. Any resulting arbitration shall take place within Orange County/Chapel Hill, North Carolina, USA.</p>
                        <p class="mb-6 text-md text-slate-50">By using our services, purchasing our digital products, or subscribing to our monthly services, you acknowledge that you have read, understood, and agree to be bound by these Terms and Conditions.</p>
                </div>
            </div>
        </div>
    </section>







